$primary: #3c59a5;
$secondary: #ffcc04;
$danger: #f70602;
@import '~bootstrap/scss/bootstrap';

$black: #000;
$sky-blue: #00b9f6;

.primary-background {
  background-color: $primary;
  border-radius: 5px;
}

.centered {
  text-align: center;
}

.border-std {
  border: 5px solid $black;
}

.border-std-x {
  border-left: 5px solid $black;
  border-right: 5px solid $black;
}

.border-std-b {
  border-bottom: 5px solid $black;
}

.background-sky-blue {
  background-color: $sky-blue;
}

.background-primary {
  background-color: $primary;
}
